<?xml version="1.0" encoding="UTF-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<appSettings>
		<add key="ThemeDirectory" value="~/theme/clasic/" />
		<add key="MailFromTitle" value="Custom Declaration Printing" />
    <add key="unsubEmail" value="info@columnasoft.com" />
    <add key="unsubPeriod" value="3 days" />
		<add key="runmode" value="test" />
	</appSettings>
	<connectionStrings>
		<!--<add name="cdpWebConn" connectionString="Data Source=HP-PC\SQL2008R2;Initial Catalog=CDP_Dev3; uid=webapp; pwd=webapps@2008;" providerName="System.Data.SqlClient" />
    <add name="cdpWebConn" connectionString="Data Source=(local);Initial Catalog=CDP_dev; uid=sa; pwd=gattaca;" providerName="System.Data.SqlClient" />
    	<add name="KozaConn" connectionString="Data Source=DELLPC5\SQLSERVER2012;Initial Catalog=IITS_DB_DEMO2; uid=sa; pwd=SQLServer2012;" providerName="System.Data.SqlClient"/>
    -->
    <add name="cdpWebConn" connectionString="Data Source=DELLPC5\SQLSERVER2012;Initial Catalog=CDPW; uid=sa; pwd=SQLServer2012;" providerName="System.Data.SqlClient"/>
    <!--<add name="CDP_DevConnectionString" connectionString="Server=HOMEPC2\MSSQL200864DEV;Database=CDP_Dev;User ID=sa;Password=sqlserver2008R2" providerName="System.Data.SqlClient" />
		<add name="CDP_DevConnectionString" connectionString="Data Source=HP-PC\SQL2008R2;Initial Catalog=CDP_Dev; uid=webapp; pwd=webapps@2008;" providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</httpHandlers>
		<sessionState mode="InProc" />
		<customErrors mode="Off"></customErrors>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="cdplogin.aspx" />
			</files>
		</defaultDocument>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
	</system.webServer>

	<log4net>
		<!-- Define some output appenders -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="CDP_log_" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyy-MM-dd'.txt'" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]" />
				<footer value="[Footer]" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>

		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="CDP_log.txt" />
			<!-- Example using environment variables in params -->
			<!-- <file value="${TMP}\log-file.txt" /> -->
			<appendToFile value="true" />
			<!-- An alternate output encoding can be specified -->
			<!-- <encoding value="unicodeFFFE" /> -->
			<!--appender settings-->
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]" />
				<footer value="[Footer]" />
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
		</appender>

		<!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
			<!--<appender-ref ref="LogFileAppender"/>-->
			<!-- <appender-ref ref="A" /> -->
		</root>

	</log4net>
		<system.net>
      <mailSettings>
        <smtp from="info@columnasoft.com">
          <!--<network defaultCredentials="false" port="25" host="smtpout.secureserver.net" password="TelAviv@2012" userName="info@columnasoft.com" />-->
          <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" password="ArcticBison@2015" userName="info@columnasoft.com" />
        </smtp>
      </mailSettings>
		</system.net>
</configuration>